.head{
    font-size: 40px;
}
.color{
    color: rgb(248, 119, 179);
}
.box{
    float: left;
    width: 40%;
    margin-left: 7%;
}
.box img{
    width: 100%;
}
.btn{
    background-color: rgb(236, 93, 141);
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}
.container{
    background-image: url("/top-banner.png");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
}
.dream{
    background-image: url("/dream-bg.png");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
}
.change{
    float: left;
}
.color-2{
    color: orange;
}
.boxing{
    box-shadow: 10px 10px 50px gray;
    height: 250px;
    padding: 10px 10px;
}
.bg{
    background-image: url("exp-bg.png");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
}
.line-1{
    border-left: 5px solid tomato;
}
.line-2{
    border-left: 5px solid blue;
}
.center-text{
    text-align: center;
}